* {
  box-sizing: border-box;
}

body{
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

p {
  margin: 10px;
  line-height: normal;
  text-align: center;
  font-size: small;
}

::selection{
  background: #aaa;
  color: #fff;
}
.button {
  border: 0;
  /*margin: 7px;*/
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  color: #fff;
  background-color: #333;
  font-weight: 100;
  cursor: pointer;
  height: 45px;
  outline: none;
  border-radius: 0px 5px 5px 0px;
}

.refresh {
  margin: 15px;
  border-radius: 5px;
}

.help {
  margin: 15px;
  padding: 10px 13px;
  border-radius: 5px;
  cursor: help;
}

.bold {
  font-weight: 600;
}

.version-info {
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  background: #3a3a3a;
  border-radius: 5px;
  color: #fff;
  opacity: 0.98;
  padding: 0px 10px 10px 10px;
  margin: 10px;
}

@media only screen and (max-width: 800px) {
  .version-info {
    display: none;
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%;
    opacity: 1;
  }
}

.version-info-button {
  display: inline;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: x-large;
  color: #333;
  cursor: help;
}

#loading {
  display: inline;
  font-size: 10em;
  color: rgba(51, 51, 51, 0.5);
}

.animation {
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 50vh;
}

.button:hover {
  background-color: #444;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.input {
  border: 1px solid #333;
  /*margin: 7px;*/
  margin-left: 20px;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  color: #333;
  background-color: #fff;
  font-weight: 100;
  height: 45px;
  width: 200px;
  outline: none;
  border-radius: 5px 0px 0px 5px;
}

@media only screen and (max-width: 1200px) {
  .input {
    margin-left: 0px;
    font-size: 1rem;
      height: 40px;
      width: 160px;
  }
  .button {
    font-size: 1rem;
      height: 40px;
  }
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.delete-btn {
  /*display: none;*/
  color: #ddd;
  cursor: pointer;
}

.delete-btn:hover  {
  color: #444;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .delete-btn:hover  {
    color: #eee;
    cursor: pointer;
  }
}


table#law {
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  background: #333; color: #fff;
  text-rendering: optimizeLegibility;
  border-radius: 5px;
  max-width: 98vw;
}


table#law caption {
  font-size: 2rem; color: #444;
  margin: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left, center right;
}
table#law thead th {
  font-weight: 600;
}
table#law thead th, table#law tbody td {
  padding: .8rem;
  font-size: 1.2rem;
}
table#law tbody td {
  word-break: break-word;
  padding: .8rem;
  font-size: 1.2rem;
  color: #444;
  background: #eee;
}

@media only screen and (max-width: 1200px) {
  table#law tbody td {
    word-break: break-word;
    font-size: 0.9rem;
  }
  table#law thead th, table#law tbody td {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1024px) {
  table#law tbody td {
    font-size: 0.8rem;
  }
  table#law thead th, table#law tbody td {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  table#law {
    min-width:1024px;
    max-width: 95vw;
  }
}

.th-number {
  min-width: 150px;
}
.th-date {
  min-width: 110px;
}
.th-form {
  min-width: 110px;
  max-width: 200px;
}

.th-court {
  min-width: 130px;
  max-width: 230px;
}

@media only screen and (min-width: 1201px) {
  .th-number {
    min-width: 220px;
  }
  .th-date {
    min-width: 150px;
  }
  .th-form {
    min-width: 140px;
    max-width: 250px;
  }

  .th-court {
    min-width: 180px;
    max-width: 280px;
  }

}

table#law tbody tr:nth-child(odd) > td {
  background-color: #f5f5f5;
}


table#law tbody tr:not(:last-child) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 800px) {
  table#law caption {
    background-image: none;
  }
  table#law thead {
    display: none;
  }
  table#law tbody td {
    display: block;
    padding: .6rem;
  }
  table#law tbody tr td:first-child {
    background: #666;
    color: #fff;
  }
	table#law tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 6rem;
  }
}


.indicator{
  font-size: 0.8em;
  vertical-align: 0.1em;
}
.priority-today{
  color: #ff5722;
}

.priority-tomorrow{
  color: #ff9800;
}

.priority-week{
  color: #ffeb3b;
}

.priority-none{
  color: #9e9e9e;
}


.tooltip {
    position: relative;
    display: inline-block;
    outline: none;
    text-indent: 0;

}
.tooltip:hover:before {
    content: attr(data-help);
    white-space: pre-line;
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 9999;
    margin-left: -50%;
    padding: 10px;
    border: 2px solid #ccc;
    opacity: .9;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #eee;

}

.mini-tooltip:hover:before {
  width: 210px;

}

.grey-tooltip:hover:before {
    border: none;
    background-color: #1e1e1e;
}

.help-hint  {
  font-size: 1rem;

}

.help-button {
  font-size: 2rem;
}
/*.grey-tooltip:hover:after {
    border-top-color: rgba(51,51,51,0.95);
}*/


a {
  color: #444;
  text-decoration: none;
}

a:hover{
  color: #333;
}


@media only screen and (max-width: 800px) {
  a {
    color: #f5f5f5;
    text-decoration: none;
  }

  a:hover{
    color: #eee;
  }


}